*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(181, 180, 180);
}
.logo{
    display: flex;
}

.nav-left{
    flex: 1;
    padding: 10px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: start;

}
.nav-center{
    flex: 2;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: space-between;
}
.nav-right{
    flex: 1;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: space-around;

}
.div span{
    padding: 0px 10px 0px 10px;
}
main{
    flex: 2;
    display: flex;
    justify-content: space-around;
}
.content-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    
    
}
.left-top{
    flex: 0.3;
    background: rgb(222, 217, 217);
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}
.left-center{
    flex: 0.3;  
    background: rgb(222, 217, 217);
    display: flex;
    /* padding-top: 15px; */
    /* align-items: center; */
}
.left-center-bottom{
    flex: 0.2;
    background: rgb(222, 217, 217);
    padding-left: 10px;
    border-bottom: 1px solid rgb(180, 179, 179);
}
.left-bottom{
    flex: 2;
    display: flex;
    background: rgb(222, 217, 217);
    flex-direction: column;
    padding: 5px;
    padding-top: 10px;
    gap: 5px;

}
.content-center{
    flex: 2;
    background: rgb(222, 217, 217);;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aside-top{
    flex: 0.6;
    background: rgb(222, 217, 217);;
    display: flex;
    padding: 5px;
    justify-content: center;
    padding-top: 15px;
   
    /* border: 1px solid gray; */
    

    
}
.aside-center{
    flex: 0.5;
    background: white; 
    display: flex;
    border-radius: 10px;
    margin: 30px;
    width: 90%;
    padding-bottom: 10px;

    
    /* margin: 10px; */
    
   
}
input{
    background-color: rgb(222, 217, 217);;
    border-radius: 20px;
    padding: 10px;
  
    
}
.aside-bottom{
    flex: 1;
    background: white;
    border-radius: 10px;
    margin-left: 30px;
    width: 90%;
    padding-left: 15px;
    padding-top: 10px;
    
}
.content-right{
    flex: 1;
    background: rgb(222, 217, 217);
    display: flex;
    flex-direction: column;
    
}
.new{
    padding: 20px 0px 0px 60px;
}
.div1{
    flex: 0.7;
    background: rgb(222, 217, 217);
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid  rgb(175, 174, 174);
}
.div2{
    flex: 0.5;
    background: rgb(222, 217, 217);
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(105, 102, 102);
    margin-bottom: 30px;
    
}
.div3{
    flex: 1;
    background:  rgb(222, 217, 217);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.icon{
    /* background-color: hotpink; */
    display: flex;
    flex-direction: row;
    background-color: rgb(222, 217, 217);
    border-radius: 30px;
    padding-top: 4%;
    padding-left: 4%;
    width: 75%;
    color: gray;
}
.mypic{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding-left: 5px;
}
.boy_pic{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.card1{
    background-image: url(/image.jpg);
    background-size: cover;
    border: 1px solid rgb(191, 189, 189);
    border-radius: 20px;
    width: 18%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.card2{
    background-image: url(/PRACTICE-4/Rose-dewittbukater-1997film.webp);
    background-size: cover;
    border: 1px solid rgb(191, 189, 189);
    border-radius: 20px;
    width: 18%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.card3{
    background-image: url(/photo_2023-07-28_10-09-18.jpg);
    background-size: cover;
    border: 1px solid rgb(191, 189, 189);
    border-radius: 20px;
    width: 18%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.card4{
    background-image: url(/PRACTICE-4/230307102122-01-neymar-021423.jpg);
    background-size: cover;
    border: 1px solid rgb(191, 189, 189);
    border-radius: 20px;
    width: 18%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.card5{
    background-image: url(/BTS+T2R+first+pass_-73.jpg);
    background-size: cover;
    border: 1px solid rgb(191, 189, 189);
    border-radius: 20px;
    width: 18%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.first_top{
    display: flex;
  
}
.jack{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    /* padding:px ; */
}
.panda{
    padding-left: 15%;
}
