*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    background-color: rgb(56, 180, 180);
    grid-template-columns: repeat(3, 1fr);

    
}
.container>div{
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
}

.box1{
    grid-column: 1/4;
    
}
.box2{
    /* grid-column: span 2; */
    grid-row: 2/4;
}
.box5{
    grid-column: 2/4;
 
}
.box6{
    grid-column: 1/4;
}