*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    background: thistle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-top{
    flex: 1;
    background: palegoldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-left{
    flex: 1;
    padding: 20px;
    background: rgb(154, 203, 101);
}
.top-right{
    flex: 1;
    padding: 20px;
    background: rgb(73, 193, 153);
}
.nav-bottom{
    flex: 1;
    padding: 10px;
    background: rgb(167, 79, 212);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 20px;
}
.aside-left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
button{
    border: none;
    background: none;
}
button:hover{
    border-bottom: 2px solid rgb(128, 128, 231);
}
.aside-right{
    margin-left: 20px;
}
header{
    flex: 0.7;
    width: 60%;
    background: white;
    margin-top: 10px;
    border-radius: 10px;
}
main{
    flex: 2;
    background: rgb(197, 52, 139);
}