@import "group-mixins";
footer {
    height: 15vh;
    background: black;
    border-top: 2px solid teal;
    display: flex;
    justify-content: space-around;

    div {
        @include content-centered;
        flex-direction: column;

        a {
            text-decoration: none;
            color: white
        }
    }
}