<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <aside class="sideleft">
        <div class="nav-top">left</div>
        <div class="nav-center">Center</div>
        <div class="nav-bottom">bottom</div>
    </aside>
    <main>
        <div class="center-top">top</div>
        <div class="center-middle">
            <div class="middle">middle</div>
            <div class="below">middle</div>
        </div>
        <div class="center-bottom">
            <div class="left-bottom">left bottom</div>
            <div class="middle-bottom">center bottom</div>
            <div class="right-bottom">right bottom</div>
        </div>
    </main>
    <aside class="sideright">
        <div class="first-right">top</div>
        <div class="second-right">second </div>
        <div class="third-right">third </div>
        <div class="last-right"> forth </div>
    </aside>
</body>
</html>